.container {
    display: flex;
    gap: 10px;
}

.dropdown {
    max-width: max-content;
    min-width: 100px;
    color: azure;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.dropdown.HoverContainer {
    background-color: blueviolet;
    height: max-content;
}

.dropdown.ClickContainer {
    background-color: burlywood;
    height: max-content;
}

.menu {
    display: none;
}

.dropdown.HoverContainer:hover {
    .menu {
        display: block;
    }
}

.menu.visible {
    display: block;
}

.imageContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.images {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.imageContainer button{
    font-size: 40px;
    color: white;
    background-color: black;
}

.imageContainer div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
}

.imageContainer div:nth-child(3){
    display: flex;
    justify-content: center;
}

.navDot {
    border:solid 10px rgb(255, 255, 255);
    margin: 10px;
    border-radius: 10px;
}

.navDot.visible {
    border-color: rgb(214, 143, 255);
}